@use "cosmose";
@import 'react-tooltip/dist/react-tooltip.css';
@import '@szhsin/react-menu/dist/index.css';
@import '@szhsin/react-menu/dist/transitions/slide.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --theme-50: 232 229 251;
  --theme-100: 210 203 246;
  --theme-200: 165 151 237;
  --theme-300: 120 98 228;
  --theme-400: 75 46 219;
  --theme-500: 53 30 175;
  --theme-600: 43 24 139;
  --theme-700: 32 18 104;
  --theme-800: 22 12 70;
  --theme-900: 11 6 35;
  --theme-950: 5 3 17;
  scrollbar-color: #e8e5fb transparent;
  scrollbar-width: thin;
}

body {
  @apply font-NexaExtraLight;
  color: rgb(var(--theme-50));
  background: rgb(var(--theme-900));
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw;
}

input, select {
  background-color: rgb(var(--theme-50));
}

textarea:focus, input:focus, select:focus, button:focus {
  outline: none;
}

select:hover {
  cursor: pointer;
}

.container {
  padding: 0 1rem;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}

::-webkit-scrollbar-thumb:active {
  background: #e1e1e1;
}

::-webkit-scrollbar-track {
  border: 0 none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.szh-menu {
  border-radius: .5rem;
}

.szh-menu__item {
  color: rgb(var(--theme-800));
  padding: 0.375rem 1rem .375rem .8rem;
}

.szh-menu__item--hover {
  color: rgb(var(--theme-500));
  background-color: rgb(var(--theme-100));
}

$increment: 0.3;

.animate-slideInUp-0 {
  animation: SlideInUp .5s ease backwards;
}

.animate-slideOutUp {
  animation: SlideOutUp .5s ease backwards;
}

.animate-button-chat {
  right: -100px;
  opacity: 0;
  animation: SlideInRight .2s ease-out forwards 1s;
  will-change: transform;
}

@for $i from 1 through 10 {
  .animate-float-#{$i} {
    animation: Float 3s ease-in-out infinite;
    animation-delay: #{$i * $increment}s;
  }

  .animate-slideInUp-#{$i} {
    animation: SlideInUp .5s ease backwards;
    animation-delay: #{$i * $increment}s;
  }
}

@keyframes SlideInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@keyframes Float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

@keyframes SlideInRight {
  0% {
    right: -100px;
    opacity: 0;
  }
  100% {
    right: 40px;
    opacity: 1;
  }
}
