.link::after {
  content: '';
  @apply absolute bottom-0 left-1/2 transform translate-x-[-50%] border-t-2 border-solid border-theme-50 w-0 transition-all duration-300 ease-in-out;
}

.link:hover::after {
  @apply w-5 left-1/2;
  transform: translateX(-50%);
}

.link.active {
  &::after {
    @apply w-5 left-1/2;
    transform: translateX(-50%);
  }
}
